# Cache and logs (Symfony2)
cache
log

# Assets and user uploads
web/uploads/

# Assets managed by Bower
lib/vendor

# Build data
.vagrant
.idea
.idea/*
.idea/deployment.xml
.idea/modules.xml
.idea/symfony_sample.xml
.idea/vcs.xml
.idea/workspace.xml
apps/frontend/i18n/

